<!DOCTYPE HTML>
<html>
 <head>
	<title>HArpreet singh</title>
	<link rel="stylesheet" type"text/css" href="../static/intro.css">
 </head>
<body>
<marquee><h1> INTRODUCTION OF MEMBERS </h1></marquee>
	<div id="name">
<table style="width:100%">
    <tr class="top"><th colspan="2">About the person</th></tr>
    <tr><td class="left">Name</td>
        <td class="right">Harpreet Singh</td>
    </tr>
        <tr><td class="left">Father's Name</td>
        <td class="right">Amarjit Singh</td>
    </tr>
        <tr><td class="left">Mother's Name</td>
        <td class="right">Satinder Kaur</td>
    </tr>
        <tr><td class="left">Date of Birth</td>
        <td class="right">22 December 1995</td>
    </tr>
        <tr><td class="left">Hometown</td>
        <td class="right">New delhi</td>
    </tr>
        <tr><td class="left">Age</td>
        <td class="right">19</td>
    </tr>
    <tr><td class="left">Phone Number</td>
        <td class="right">+91 9554846631</td>
    </tr>
<tr class="top"><th colspan="2">Academic Details(before college)</th></tr>
        <tr><td class="left">School Name(upto std.10)</td>
        <td class="right">ITL public school</td>
    </tr>
        <tr><td class="left">Percentage/CGPA(in st 10)</td>
        <td class="right">10</td>
    </tr>
        <tr><td class="left">School Name(std 11-12)</td>
        <td class="right">ITL public school</td>
    </tr>
        <tr><td class="left">Percentage(in std 12)</td>
        <td class="right">91.6%</td>
    </tr>
        <tr><td class="left">JEE Mains Rank(AIR)</td>
        <td class="right">5434</td>
    </tr>
        <tr><td class="left">JEE Advanced Rank(AIR)</td>
        <td class="right">1080</td>
    </tr>
    <tr class="top"><th colspan="2">Academic Detalis(in college)</th></tr>
        <tr><td class="left">Name of College</td>
        <td class="right">Indian Institute of Technology(BHU), Varansai</td>
    </tr>
        <tr><td class="left">Branch</td>
        <td class="right">Computer Science and Engineering</td>
    </tr>
        <tr><td class="left">Course</td>
        <td class="right">B.Tech</td>
    </tr>
        <tr><td class="left">Roll No.</td>
        <td class="right">14075029</td>
    </tr>
    <tr class="top"><th colspan="2">Courses Taken</th></tr>
        <tr><td class="left">First Semester</td>
        <td class="right">Engineering Mathematics I (MA-101)<br>
        Physics I (PHY-101)<br>
        Biology(BO-101)<br>
            Numerical Analysis and Computer Programming(CSE-101)<br>
            Manufacturing Practices - I (ME-104)<br>
            Human Value  - I (HU-101)<br>
            Physical Education(GY-101)
        </td>
    </tr>
        <tr><td class="left">Second Semester</td>
        <td class="right">Engineering Mathematics II (MA-102)<br>
        Engineering Mechanics(CMO-102)<br>
        Information Technology Workshop - I(ITWS-1)<br>
        Fundamentals of Electrical Engineering(EO-101)<br>
        Engineering Drawing<br>
        Manufacturing Practices- II (ME-105)<br>
        Education and Self (HU-106)</td>
    </tr>


</table><br>

</body>
</html	
