<!DOCTYPE HTML>
<html>
<head>
	<title>plots for interpolate</title>
        <link rel="stylesheet" type="text/css" media="screen" href="../static/plot.css">
</head>
<body>
	<div>
	<marquee><p>Generating plots for interpolate</p></marquee>
	</div>
	<center><form method="post">
	<h2>Enter two list one of abscissa and other of corresponding ordinate</h2><br>
	<h2>abscissa</h2>
	<input type="text" name="list1"/><br/>
	<h2>ordinate</h2>
	<input type="text" name="list2"/><br/></br>
	<button type="submit">PLOT</submit>
	</form></center>
</body>
</html>
